@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* ## Colors */

  /* ### Primary */

  --Dark--cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);

  /* ### Neutral */

  --Dark-gray: hsl(0, 0%, 59%);
}

body {
  background-color: var(--Dark--cyan);
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;

  overflow: hidden;
}
ul {
  list-style: none;
}

.card {
  width: 350px;
  margin-top: 175px;
  background-color: #fff;
  text-align: center;
  border-radius: 12px;
}

.top {
  position: relative;
}
.header-bg {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.person-pic {
  position: absolute;
  top: 315px;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  border: 3px solid #fff;
}

.name {
  color: var(--Very-dark-desaturated-blue);
  font-size: 18px;
}
.age {
  color: var(--Dark-grayish-blue);
  font-weight: 100;
}
.place {
  margin-bottom: 20px;
  margin-top: 13px;
  color: var(--Dark-grayish-blue);
}

.bottom {
  margin-top: 66px;
}
.divider {
  background: hsl(0, 0%, 83%);
  height: 1px;
}
.stats {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
  margin-top: 29px;
  row-gap: 180px;
  font-size: 18px;
}

.number {
  font-weight: bold;
  color: var(--Very-dark-desaturated-blue);
}
.stat {
  color: var(--Dark-grayish-blue);
  margin-top: 10px;
  font-size: 11px;
  letter-spacing: 1px;
}

.circle-top {
  max-width: 830px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(-19%, -50%);
}
.circle-bottom {
  /*  max-width: 630px; */
  max-width: 830px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(20%, 80%);
  z-index: -1;
}
@media (max-width: 500px) {
  .circle-top {
    max-width: 330px;
    transform: translateX(-30%);
  }
  .circle-bottom {
    max-width: 330px;
    transform: translate(28%, 46%);
  }
}
